In [23]:
import pandas as pd

In [27]:
df_NaCl = pd.read_csv("../Data/Mutation_data/Current_AleDB_mut_call/TOL NaCl_mut.csv")

In [28]:
end_point_samples=['TOL NaCl A1 F82 I1 R1',
                   'TOL NaCl A2 F82 I1 R1', 
                   'TOL NaCl A3 F82 I1 R1',  
                   'TOL NaCl A4 F82 I1 R1', 
                   'TOL NaCl A5 F82 I1 R1', 
                   'TOL NaCl A6 F85 I1 R1']

In [29]:
#starting mutation removal

In [33]:
df_NaCl=df_NaCl.drop(index=df_NaCl[df_NaCl['TOL NaCl A1 F0 I1 R1']==1].index)

In [34]:
df_NaCl_end=df_NaCl[end_point_samples].fillna(0).astype('int64')
df_NaCl_end=df_NaCl_end.drop(index=df_NaCl_end[df_NaCl_end.sum(axis=1)==0].index)

In [35]:
for i in df_NaCl_end.index:
    df_NaCl_end.loc[i,'Position']=df_NaCl.loc[i,'Position']
    df_NaCl_end.loc[i,'Mutation Type']=df_NaCl.loc[i,'Mutation Type']
    df_NaCl_end.loc[i,'Sequence Change']=df_NaCl.loc[i,'Sequence Change']
    df_NaCl_end.loc[i,'Gene']=df_NaCl.loc[i,'Gene']
    df_NaCl_end.loc[i,'Function']=df_NaCl.loc[i,'Function']
    df_NaCl_end.loc[i,'Product']=df_NaCl.loc[i,'Product']
    df_NaCl_end.loc[i,'GO Process']=df_NaCl.loc[i,'GO Process']
    df_NaCl_end.loc[i,'GO Component']=df_NaCl.loc[i,'GO Component']
    df_NaCl_end.loc[i,'Protein change']=df_NaCl.loc[i,'Details']

In [36]:
new_col = ['Position', 'Mutation Type', 'Sequence Change', 'Gene',
       'Function', 'Product', 'GO Process', 'GO Component', 'Protein change','TOL NaCl A1 F82 I1 R1',  'TOL NaCl A2 F82 I1 R1', 'TOL NaCl A3 F82 I1 R1',  'TOL NaCl A4 F82 I1 R1', 'TOL NaCl A5 F82 I1 R1', 'TOL NaCl A6 F85 I1 R1']

In [37]:
df_NaCl_end=df_NaCl_end[new_col].reset_index(drop=True)

In [38]:
df_NaCl_end.head()

,Position,Mutation Type,Sequence Change,Gene,Function,Product,GO Process,GO Component,Protein change,TOL NaCl A1 F82 I1 R1,TOL NaCl A2 F82 I1 R1,TOL NaCl A3 F82 I1 R1,TOL NaCl A4 F82 I1 R1,TOL NaCl A5 F82 I1 R1,TOL NaCl A6 F85 I1 R1
0,"4,181,843",SNP,G→C,rpoB,NaN,RNA polymerase subunit beta,NaN,NaN,R200P (CGT→CCT),0,0,0,0,0,1
1,"1,907,626",MOB,IS5 (–) +4 bp,"yobF, yebO",NaN,DUF2527 domain-containing protein YobF/unchara...,NaN,NaN,intergenic (‑35/+632),0,1,0,1,0,0
2,"2,804,864",DEL,Δ13 bp,proV,NaN,glycine betaine ABC transporter ATP binding su...,NaN,NaN,coding (50‑62/1203 nt),0,0,0,1,0,0
3,"4,181,848",SNP,C→T,rpoB,NaN,RNA polymerase subunit beta,NaN,NaN,R202C (CGT→TGT),0,1,0,1,0,0
4,"537,971",SNP,A→T,ybbW,NaN,putative allantoin transporter,NaN,NaN,G113G (GGA→GGT),0,0,1,0,0,0

In [39]:
df_NaCl_dup = pd.read_csv("../../ALE_3strain_salt_growth/AMP_dup_run/3Strain_Salt_TALE/MG1655_NaCl_TALE/breseq/dups/1-0-1-1/1-0-1-1_genes.csv")

In [40]:
df_NaCl_dup

Empty DataFrame
Columns: [Start, Stop, Width, Duplication Depth Avg., Multiplicity, Genome Average, Genome Standard Deviation, Gene List, Locus Tag List]
Index: []

In [41]:
dups_dir = "../../ALE_3strain_salt_growth/AMP_dup_run/3Strain_Salt_TALE/MG1655_NaCl_TALE/breseq/dups/"

In [42]:
import os

dir_content = os.listdir(dups_dir)
sample_list = []

for sub in dir_content:
    d = os.path.join(dups_dir,sub)
    if os.path.isdir(d)==True:
        sample_list.append(sub)

In [43]:
sample_list

['4-82-1-1',
 '2-82-1-1',
 '1-0-1-1',
 '5-82-1-1',
 '3-82-1-1',
 '6-66-1-1',
 '1-82-1-1']

In [44]:
#Convert breseq directory names to column names used in Variant call files

col_names=pd.DataFrame(index=sample_list)
col_names['col_names']=col_names.index
col_names=col_names.drop(index='1-0-1-1') #ignore first 

col_names[['A','F','I','R']]=col_names['col_names'].str.split("-", expand=True)
col_names=col_names.sort_values(by="A")

for i in col_names.index:
    col_names.loc[i,'col_names']="TOL NaCl A"+col_names.loc[i,'A']+" F"+col_names.loc[i,'F']+" I"+col_names.loc[i,'I']+" R1"

In [45]:
col_names

                      col_names  A   F  I  R
1-82-1-1  TOL NaCl A1 F82 I1 R1  1  82  1  1
2-82-1-1  TOL NaCl A2 F82 I1 R1  2  82  1  1
3-82-1-1  TOL NaCl A3 F82 I1 R1  3  82  1  1
4-82-1-1  TOL NaCl A4 F82 I1 R1  4  82  1  1
5-82-1-1  TOL NaCl A5 F82 I1 R1  5  82  1  1
6-66-1-1  TOL NaCl A6 F66 I1 R1  6  66  1  1

In [46]:
for file in col_names.index:

    duplication_df_temp = pd.read_csv(dups_dir+file+"/"+file+"_genes.csv")
    
    if duplication_df_temp.index.size==0:
        continue
    
    k=0    
    for dup_count in duplication_df_temp.index:
        
        temp_row = pd.DataFrame()
        temp_row.loc[k,'Position'] = str(duplication_df_temp.loc[dup_count,'Start'])
        temp_row.loc[k,'Mutation Type'] = 'DUP'
        temp_row.loc[k,'Sequence Change'] = format (duplication_df_temp.loc[dup_count,'Width'], ',d')+" bp x"+str(duplication_df_temp.loc[dup_count,'Multiplicity'])
        temp_row.loc[k,'Gene']=duplication_df_temp.loc[dup_count,'Gene List'].replace("['","").replace("']","").replace("'","")
        temp_row.loc[k,'Protein change']="Duplication"
        temp_row.loc[k,col_names.loc[file,'col_names']]=1
        temp_row=temp_row.fillna("")
        df_NaCl_end=df_NaCl_end.append(temp_row)

In [47]:
df_NaCl_end['Position'].str.replace(",","")

0    4181843
1    1907626
2    2804864
3    4181848
4     537971
      ...
0    3502354
0    3847795
0    4023965
0    4288569
0    4312005
Name: Position, Length: 80, dtype: object

In [48]:
df_NaCl_end['Position']=df_NaCl_end['Position'].str.replace(",","")
df_NaCl_end=df_NaCl_end.sort_values(by="Position").reset_index(drop=True)

In [49]:
for i in df_NaCl_end.index:
    df_NaCl_end.loc[i,'Position']=format(int(df_NaCl_end.loc[i,'Position']),",")

In [50]:
df_NaCl_end

,Position,Mutation Type,Sequence Change,Gene,Function,Product,GO Process,GO Component,Protein change,TOL NaCl A1 F82 I1 R1,TOL NaCl A2 F82 I1 R1,TOL NaCl A3 F82 I1 R1,TOL NaCl A4 F82 I1 R1,TOL NaCl A5 F82 I1 R1,TOL NaCl A6 F85 I1 R1,TOL NaCl A6 F66 I1 R1
0,"1,270,179",DUP,398 bp x2.7,ldrC,NaN,NaN,NaN,NaN,Duplication,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,"1,270,181",DUP,651 bp x2.5,"ldrC, [chaA]",NaN,NaN,NaN,NaN,Duplication,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,"1,363,803",DUP,"4,524 bp x3.1","[puuC], puuB, puuE, pspF, [pspA]",NaN,NaN,NaN,NaN,Duplication,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,"1,529,218",SNP,C→T,"yncH, ydcD",NaN,DUF5445 domain-containing protein YncH/unchara...,NaN,NaN,intergenic (+2066/‑704),1.0,0.0,1.0,0.0,1.0,1.0,NaN
4,"160,115",DUP,605 bp x2.6,dksA,NaN,NaN,NaN,NaN,Duplication,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,"700,588",DEL,(T)6→5,nagC,NaN,DNA-binding transcriptional dual regulator NagC,NaN,NaN,coding (1007/1221 nt),0.0,1.0,0.0,0.0,0.0,0.0,NaN
76,"701,380",SNP,C→T,nagC,NaN,DNA-binding transcriptional dual regulator NagC,NaN,NaN,G72E (GGG→GAG),0.0,0.0,0.0,0.0,1.0,0.0,NaN
77,"702,331",DEL,Δ1 bp,nagA,NaN,N-acetylglucosamine-6-phosphate deacetylase,NaN,NaN,coding (421/1149 nt),0.0,0.0,0.0,1.0,0.0,0.0,NaN
78,"773,947",DUP,405 bp x2.1,"[cydB], cydX, [ybgE]",NaN,NaN,NaN,NaN,Duplication,NaN,1.0,NaN,NaN,NaN,NaN,NaN
79,"939,935",SNP,G→A,serS,NaN,serine--tRNA ligase,NaN,NaN,A170T (GCT→ACT),0.0,0.0,1.0,0.0,0.0,0.0,NaN

In [51]:
df_NaCl_end.to_csv("../Data/Mutation_data/Variant_calls/NaCl.csv")